<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>STEM for Change Scholarship | UINWOLC</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style-timeline.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/responsive.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

</head>
<body>

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      
      <div class="header-menu-uinw d-flex flex-wrap align-items-center justify-content-center">

        <div class="col-lg-7">
          <nav class="navbar navbar-expand-lg navbar-dark"> 
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="javascript:;">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Recruitments Partners</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Education Partners</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header-search-box">
              <div>
                <form class="form-inline">
                  <input class="form-control" type="search" placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-lg-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Our Solutions</a>
                  <a class="dropdown-item" href="#">Our Story</a>
                  <a class="dropdown-item" href="#">Careers</a>
                  <a class="dropdown-item" href="#">Press</a>
                  <a class="dropdown-item" href="#">Life</a>
                  <a class="dropdown-item" href="#">Leadership</a>
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">Blog</a>
                  <a class="dropdown-item" href="#">ApplyInsights</a>
                  <a class="dropdown-item" href="#">Trends Report</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="sub-btn-regst my-2 my-lg-0">
            <button class="btn btn-outline-primary" type="submit">Log In</button>
            <button class="btn btn-primary" type="submit">Sign Up</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>
<!-- Header End -->

<!-- Header inner Title -->
<section class="header-banner-box header-banner-bg">
  <div class="container">
    <div class="row">

      <div class="header-abroad-main">
        <div class="col-lg-6">
          <div class="header-abroad-content">
            <h1>STEM for Change Scholarship Program</h1>
            <p>Up to C$100,000 in scholarships available to women applying to study STEM at an UNIWOLC Canadian partner school.</p>
            <a href="javascript:;">Apply for Scholarship</a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="header-img-abroad">
            <img src="assets/images/inner-banner/change-scholarship-banner.png" alt="" />
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Header inner Title End -->

<!-- How It Works -->
<section class="sub-new-awolc-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="sub-uniwolc-title sub-choose-tt-pd">
          <h2>How It Works</h2>
        </div>
      </div>

      <div class="sub-quality-applications-main">
        
        <div class="col-lg-6">
          <div class="row">

            <div class="col-lg-6">
              <div class="sub-intern-educat-box sub-stem-scholarship-hg">
                <img src="assets/images/ecosystem-international-education/local-support.png" alt="" />
                <h6>Apply to Study Abroad</h6>
                <p>Use The UNIWOLC Platform To Apply To Study A STEM Program At A Canadian Partner School (College Or University) Starting In Fall 2021.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sub-intern-educat-box sub-stem-scholarship-hg">
                <img src="assets/images/ecosystem-international-education/education.png" alt="" />
                <h6>Submit Video Application</h6>
                <p>Submit A 2-4 Minute Video In English Sharing How Studying STEM Abroad Will Change Your Life And How You’ll Use This Opportunity To Empower Other Women.</p>
              </div>
            </div>
            <div class="sub-quality-applications-two">
              <div class="col-lg-6">
                <div class="sub-intern-educat-box sub-stem-scholarship-hg">
                  <img src="assets/images/ecosystem-international-education/events-and-webinars.png" alt="" />
                  <h6>Finalist Selection</h6>
                  <p>The UNIWOLC Team Will Review All Videos Submitted And Select 6 Finalists. Finalists Will Be Notified On August 24, 2021.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="sub-intern-educat-box sub-stem-scholarship-hg">
                  <img src="assets/images/ecosystem-international-education/data-and-insights.png" alt="" />
                  <h6>Recipient Announcement & Celebration</h6>
                  <p>Recipients Will Be Invited To A Virtual Recognition Event In October 2021 And Will Be Awarded Their Scholarship In January 2022 For The Winter 2022 Semester.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">
          <div class="sub-quality-applications-two">
            <img src="assets/images/quality-applications.png" alt="" />
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- How It Works End -->

<!-- About the Scholarship -->
<section class="sub-how-we-help-bg">
  <div class="container">
    <div class="row">

      <div class="sub-how-we-help-main">
        <div class="col-lg-6">
          <div class="sub-how-img-help">
            <a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><img src="assets/images/about-the-scholarship.png" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="sub-how-we-help-content">
            <h3>About the Scholarship</h3>
            <p>UNIWOLC Is Very Excited To Announce Its STEM For Change Scholarship Program! Our Goal Is To Drive Diversity And Inclusion By Empowering International Women To Pursue An Education In Science, Technology, Engineering, And Mathematics. Through This Merit-Based Scholarship Program, UNIWOLC Will Award Over C$100,000 In Scholarships To Selected Applicants.</p>
            <a data-toggle="modal" data-target="#exampleModal" href="javascript:;">Play</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- About the Scholarship End -->



<!-- STEM for Change Scholarship Program -->
<section class="sub-have-quest-pt-pb sub-stem-scholp-pt">
  <div class="container">
      <div class="row">

        <div class="col-lg-12">
          <div class="sub-count-number-bg sub-stem-pt-pb">
            <div class="sub-abroad-text-std">
              <h5>Questions regarding the STEM for Change Scholarship Program can be sent to stemforchange@uniwolc.com</h5>
            </div>
          </div>
        </div>

      </div>
  </div>
</section>
<!-- STEM for Change Scholarship Program End -->

<!-- Program Resources -->
<section class="sub-new-awolc-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="sub-uniwolc-title sub-choose-tt-pd">
          <h2>Program Resources</h2>
        </div>
      </div>

      <div class="sub-easy-to-use-main">
        <div class="col-lg-4">
          <div class="main-universities-blog">
            <div class="sub-img-universities">
              <img src="assets/images/program-resources/01-program-resources.jpg" alt="" />
            </div>
            <div class="sub-content-universities">
              <h3><a href="javascript:;">Terms And Conditions</a></h3>
              <p>&nbsp;</p>
              <a href="javascript:;">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="main-universities-blog">
            <div class="sub-img-universities">
              <img src="assets/images/program-resources/02-program-resources.jpg" alt="" />
            </div>
            <div class="sub-content-universities">
              <h3><a href="javascript:;">Video Submission Guidelines</a></h3>
              <p>&nbsp;</p>
              <a href="javascript:;">Read More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Program Resources End -->

<!-- Apply for Scholarship -->
<section class="sub-how-we-help-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="sub-uniwolc-title sub-choose-tt-pd">
          <h2>Apply for Scholarship</h2>
          <p>Complete The Form Below And Include A Link To Your 2-4 Minute Video Sharing How Studying STEM Abroad Will Change Your Life And How You’ll Use This Opportunity To Empower Other Women. Videos Can Be Hosted On Social Media (E.G. Youtube, Instagram, Etc.), And UNIWOLC Judges Must Be Able To View The Video Without A Password Via The Link Submitted. Social Media Likes And Other Engagement Will Not Be Used For Judging Purposes. </p>
        </div>
      </div>

      <div class="col-lg-6 offset-lg-3">
        <div class="row">
            
            <div class="sub-access-guide-form">
              <form>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name *">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name *">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email *">
                  </div>
                </div>
                <div class="col-lg-12">
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck3">
                    <label class="form-check-label" for="exampleCheck3">I agree to receive communications from UNIWOLC regarding the STEM for Change Scholarship Program</label>
                  </div>
                </div>
              </div>
                <div class="col-lg-12">
                  <div class="sub-access-guide-form-btn">
                    <button type="submit" class="btn btn-primary">Access The Guide</button>
                  </div>
                </div>

              </form>
            </div>
        
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Apply for Scholarship End -->

<!-- Footer -->
<footer class="default-overlay">
  <div class="container">
    <div class="row">

      <div class="col-6 col-lg-2">
        <div class="sub-footer-logo">
          <a href="javascript:;"><img src="assets/images/footer-logo.png" alt="" /></a>
          <div class="footer-address-text">
            <p>101 Frederick St,<br /> Kitchener,<br /> ON N2H 6R3</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list-bold">
          <ul>
            <li><a href="javascript:;">Students</a></li>
            <li><a href="javascript:;">Schools</a></li>
            <li><a href="javascript:;">Recruiters</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>About</h6>
          <ul>
            <li><a href="javascript:;">Our Story</a></li>
            <li><a href="javascript:;">Careers</a></li>
            <li><a href="javascript:;">Blog</a></li>
            <li><a href="javascript:;">Press</a></li>
            <li><a href="javascript:;">Life</a></li>
            <li><a href="javascript:;">Leadership</a></li>
            <li><a href="javascript:;">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Discover</h6>
          <ul>
            <li><a href="javascript:;">Discover Programs</a></li>
            <li><a href="javascript:;">Discover Schools</a></li>
            <li><a href="javascript:;">Register</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Resources</h6>
          <ul>
            <li><a href="javascript:;">Our Solutions</a></li>
            <li><a href="javascript:;">UK Resources</a></li>
            <li><a href="javascript:;">AU Resources</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Legal</h6>
          <ul>
            <li><a href="javascript:;">Privacy & Cookies Policy</a></li>
            <li><a href="javascript:;">Terms & Conditions</a></li>
            <li><a href="javascript:;">ApplyBoard Fees</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- Footer -->

<!-- Footer CopyRight -->
<section class="footer-copyright">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="footer-copyright-text">
          <p>&copy; 2022 UINWOLC Inc. All rights reserved.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-copyright-app">
          <a href="https://www.qafieconsultancy.com/" target="_blank">Design & Development by: Qafie Consultancy</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Footer CopyRight End -->

<!-- Play Video -->
<div class="modal-popup-vd">
  <div class="modal fade VideoPopup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Study Abroad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe width="100%" src="https://www.youtube.com/embed/hRTi1Elkz3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Play Video End -->

<!-- JavaScript -->
  <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/our-partners.js"></script>
  <!-- Header Menu -->
  <script>
    $(document).ready(function() {
    // executes when HTML-Document is loaded and DOM is ready
    
    // breakpoint and up  
    $(window).resize(function(){
      if ($(window).width() >= 980){  

          // when you hover a toggle show its dropdown menu
          $(".navbar .dropdown-toggle").hover(function () {
             $(this).parent().toggleClass("show");
             $(this).parent().find(".dropdown-menu").toggleClass("show"); 
           });

            // hide the menu when the mouse leaves the dropdown
          $( ".navbar .dropdown-menu" ).mouseleave(function() {
            $(this).removeClass("show");  
          });
      
        // do something here
      } 
    });
  });
  </script>
  <!-- Header Menu End -->

  <!-- New on Awolc Tab -->
  <script>
    $('.nav-tabs-dropdown')
        .on("click", "li:not('.active') a", function(event) {$(this).closest('ul').removeClass("open");
        })
        .on("click", "li.active a", function(event) {$(this).closest('ul').toggleClass("open");
        });
  </script>
  <!-- New on Awolc Tab End -->

  <!-- dropdown menu btn -->
  <script>
    $('.dropdown-toggle').dropdown()
  </script>
  <!-- dropdown menu btn end -->

  <!-- Modal Video -->
  <script language="JavaScript">
    $(".VideoPopup").on('hidden.bs.modal', function (e) {
         $(".VideoPopup iframe").attr("src",   $(".VideoPopup iframe").attr("src"));
    });
  </script>
  <!-- Modal Video End -->

<!-- JavaScript End -->

</body>
</html>