<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Tuition Payments Made Easy | UINWOLC</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style-timeline.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/responsive.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

</head>
<body>

<!-- Header -->
<header class="header-menu-box-shadow">
  <div class="container">
    <div class="row">
      
      <div class="header-menu-uinw d-flex flex-wrap align-items-center justify-content-center">

        <div class="col-lg-7">
          <nav class="navbar navbar-expand-lg navbar-dark"> 
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="javascript:;">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Recruitments Partners</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Education Partners</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header-search-box">
              <div>
                <form class="form-inline">
                  <input class="form-control" type="search" placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-lg-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Our Solutions</a>
                  <a class="dropdown-item" href="#">Our Story</a>
                  <a class="dropdown-item" href="#">Careers</a>
                  <a class="dropdown-item" href="#">Press</a>
                  <a class="dropdown-item" href="#">Life</a>
                  <a class="dropdown-item" href="#">Leadership</a>
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">Blog</a>
                  <a class="dropdown-item" href="#">ApplyInsights</a>
                  <a class="dropdown-item" href="#">Trends Report</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="sub-btn-regst my-2 my-lg-0">
            <button class="btn btn-outline-primary" type="submit">Log In</button>
            <button class="btn btn-primary" type="submit">Sign Up</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>
<!-- Header End -->

<!-- Header inner Title -->
<section class="header-banner-box">
  <div class="container">
    <div class="row">

      <div class="header-abroad-main">
        <div class="col-lg-6">
          <div class="header-abroad-content">
            <h1>Improve Your Study Permit Application with Verifiable Tuition Payments</h1>
            <p>Make Easy, Fast, And Secure Tuition Payments Through Applyboard Using Flywire. Now With Immediate, Official, And Verifiable Payment Receipts Thanks To Applyproof, You Can Build A Strong Study Permit Application While Taking The Next Step On Your International Student Journey.</p>
            <p class="pt-0">UNIWOLC Has Teamed Up With Flywire, One Of The Most Trusted Names In The Transfer Of Funds Internationally, As Well As Applyproof, Our Secure Document Verification Ecosystem, To Make All Of This Possible. Together, We’re Making It Simpler And More Efficient For Students To Pay Their Tuition And Build Trust In Their Documents.</p>
            <a href="javascript:;">Submit Your Verifiable Payment</a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="header-img-abroad">
            <img src="assets/images/inner-banner/our-solutions-banner.png" alt="" />
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Header inner Title End -->

<!-- Why Flywire and UNIWOLC? -->
<section class="sub-how-we-help-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="sub-uniwolc-title sub-choose-tt-pd">
          <h2>Why Flywire and <span>UNIWOLC</span>?</h2>
        </div>
      </div>

      <div class="sub-making-education-pt-pb pt-0">
        <div class="col-lg-3">
          <div class="sub-intern-educat-box sub-flywire-hg">
            <img src="assets/images/ecosystem-international-education/local-support.png" alt="">
            <h6>Your Payment, Verified with ApplyProof</h6>
            <p>All Tuition Payments Are Verifiable With Applyproof’s Document Authentication Technology.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sub-intern-educat-box sub-flywire-hg">
            <img src="assets/images/ecosystem-international-education/education.png" alt="">
            <h6>Build a Better Visa Application</h6>
            <p>Immigration Officials Can Verify Your Tuition Payments With Applyproof, Building Trust And Strengthening Your Application.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sub-intern-educat-box sub-flywire-hg">
            <img src="assets/images/ecosystem-international-education/events-and-webinars.png" alt="">
            <h6>Pay the Way You Want</h6>
            <p>Pay From Your Country In Your Currency With Competitive Exchange Rates And Multiple Payment Methods.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sub-intern-educat-box sub-flywire-hg">
            <img src="assets/images/ecosystem-international-education/data-and-insights.png" alt="">
            <h6>Transparency at Every Step</h6>
            <p>Track Your Payment From Start To Finish Through An Easy And Secure Process With Real-Time Tracking.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Why Flywire and UNIWOLC? End -->

<!-- Submit Your Verifiable Payment Today -->
<section class="sub-ver-mt">
  <div class="container">
      <div class="row">

        <div class="col-lg-12">
          <div class="sub-count-number-bg sub-vraf-pt-pb">
            <div class="sub-abroad-text-std">
              <h5>Submit Your Verifiable Payment Today</h5>
              <a class="sub-book-meeting-white-btn" href="javascript:;">Click Here To Get Started</a>
            </div>
          </div>
        </div>

      </div>
  </div>
</section>
<!-- Submit Your Verifiable Payment Today End -->

<!-- Why Verifiable Matters -->
<section class="sub-best-programs-main">
  <div class="container">
    <div class="row">

      <div class="sub-best-programs-box">
        <div class="col-lg-6">
          <div class="sub-best-img-programs">
            <img src="assets/images/best-programs-and-schools.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="sub-best-programs-content">
            <h2>Why Verifiable Matters</h2>
            <p>Immigration Officers, School Officials, And Many Others Need To Know That Your Documents Are Legitimate. It’s Their Job To Check Your Documents And Make Important Decisions About Whether To Accept Your Application For A Study Program, A Student Visa, And More. To Increase Your Chance Of Success, You Need To Build Their Trust In The Documents You Submit.</p>
            <p class="pt-0">That’s Why Verifiable Payments Are So Important. With Applyproof, These Decision Makers Can Check Your Proof Of Payment In Seconds, Increasing Their Trust And Strengthening Your Application. If You’re Planning To Study In Canada, Tuition Payments Made With Flywire And Applyboard Give You The Strongest Possible Proof Of Financial Support For Your Study Permit Application.</p>
          </div>
        </div>        
      </div>

    </div>
  </div>
</section>
<!-- Why Verifiable Matters End -->

<!-- Footer -->
<footer class="default-overlay">
  <div class="container">
    <div class="row">

      <div class="col-6 col-lg-2">
        <div class="sub-footer-logo">
          <a href="javascript:;"><img src="assets/images/footer-logo.png" alt="" /></a>
          <div class="footer-address-text">
            <p>101 Frederick St,<br /> Kitchener,<br /> ON N2H 6R3</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list-bold">
          <ul>
            <li><a href="javascript:;">Students</a></li>
            <li><a href="javascript:;">Schools</a></li>
            <li><a href="javascript:;">Recruiters</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>About</h6>
          <ul>
            <li><a href="javascript:;">Our Story</a></li>
            <li><a href="javascript:;">Careers</a></li>
            <li><a href="javascript:;">Blog</a></li>
            <li><a href="javascript:;">Press</a></li>
            <li><a href="javascript:;">Life</a></li>
            <li><a href="javascript:;">Leadership</a></li>
            <li><a href="javascript:;">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Discover</h6>
          <ul>
            <li><a href="javascript:;">Discover Programs</a></li>
            <li><a href="javascript:;">Discover Schools</a></li>
            <li><a href="javascript:;">Register</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Resources</h6>
          <ul>
            <li><a href="javascript:;">Our Solutions</a></li>
            <li><a href="javascript:;">UK Resources</a></li>
            <li><a href="javascript:;">AU Resources</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Legal</h6>
          <ul>
            <li><a href="javascript:;">Privacy & Cookies Policy</a></li>
            <li><a href="javascript:;">Terms & Conditions</a></li>
            <li><a href="javascript:;">ApplyBoard Fees</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- Footer -->

<!-- Footer CopyRight -->
<section class="footer-copyright">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="footer-copyright-text">
          <p>&copy; 2022 UINWOLC Inc. All rights reserved.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-copyright-app">
          <a href="https://www.qafieconsultancy.com/" target="_blank">Design & Development by: Qafie Consultancy</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Footer CopyRight End -->

<!-- Play Video -->
<div class="modal-popup-vd">
  <div class="modal fade VideoPopup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Study Abroad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe width="100%" src="https://www.youtube.com/embed/hRTi1Elkz3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Play Video End -->

<!-- JavaScript -->
  <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/our-partners.js"></script>
  <!-- Header Menu -->
  <script>
    $(document).ready(function() {
    // executes when HTML-Document is loaded and DOM is ready
    
    // breakpoint and up  
    $(window).resize(function(){
      if ($(window).width() >= 980){  

          // when you hover a toggle show its dropdown menu
          $(".navbar .dropdown-toggle").hover(function () {
             $(this).parent().toggleClass("show");
             $(this).parent().find(".dropdown-menu").toggleClass("show"); 
           });

            // hide the menu when the mouse leaves the dropdown
          $( ".navbar .dropdown-menu" ).mouseleave(function() {
            $(this).removeClass("show");  
          });
      
        // do something here
      } 
    });
  });
  </script>
  <!-- Header Menu End -->

  <!-- New on Awolc Tab -->
  <script>
    $('.nav-tabs-dropdown')
        .on("click", "li:not('.active') a", function(event) {$(this).closest('ul').removeClass("open");
        })
        .on("click", "li.active a", function(event) {$(this).closest('ul').toggleClass("open");
        });
  </script>
  <!-- New on Awolc Tab End -->

  <!-- dropdown menu btn -->
  <script>
    $('.dropdown-toggle').dropdown()
  </script>
  <!-- dropdown menu btn end -->

  <!-- Modal Video -->
  <script language="JavaScript">
    $(".VideoPopup").on('hidden.bs.modal', function (e) {
         $(".VideoPopup iframe").attr("src",   $(".VideoPopup iframe").attr("src"));
    });
  </script>
  <!-- Modal Video End -->

<!-- JavaScript End -->

</body>
</html>