<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>UK Resources | UINWOLC</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style-timeline.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/responsive.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

</head>
<body>

<!-- Header -->
<header class="header-menu-box-shadow">
  <div class="container">
    <div class="row">
      
      <div class="header-menu-uinw d-flex flex-wrap align-items-center justify-content-center">

        <div class="col-lg-7">
          <nav class="navbar navbar-expand-lg navbar-dark"> 
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="javascript:;">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Recruitments Partners</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;">Education Partners</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header-search-box">
              <div>
                <form class="form-inline">
                  <input class="form-control" type="search" placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-lg-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Our Solutions</a>
                  <a class="dropdown-item" href="#">Our Story</a>
                  <a class="dropdown-item" href="#">Careers</a>
                  <a class="dropdown-item" href="#">Press</a>
                  <a class="dropdown-item" href="#">Life</a>
                  <a class="dropdown-item" href="#">Leadership</a>
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">Blog</a>
                  <a class="dropdown-item" href="#">ApplyInsights</a>
                  <a class="dropdown-item" href="#">Trends Report</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="sub-btn-regst my-2 my-lg-0">
            <button class="btn btn-outline-primary" type="submit">Log In</button>
            <button class="btn btn-primary" type="submit">Sign Up</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>
<!-- Header End -->

<!-- Header inner Title -->
<section class="header-banner-box">
  <div class="container">
    <div class="row">

      <div class="header-abroad-main">
        <div class="col-lg-6">
          <div class="header-abroad-content">
            <h1>Apply to Study in the United Kingdom</h1>
            <p>Learn More About The Exciting Educational Opportunities Available To Students And Get Ready To Apply!</p>
            <a href="javascript:;">Learn More</a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="header-img-abroad">
            <img src="assets/images/inner-banner/UK-resources-banner.png" alt="" />
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Header inner Title End -->

<!-- Providing More Opportunities to Study Abroad -->
<section class="sub-how-we-help-bg">
  <div class="container">
    <div class="row">

      <div class="sub-how-we-help-main sub-advisory-pt-pb">
        <div class="col-lg-6">
          <div class="sub-best-img-programs sub-best-img-programs-mt-0">
            <img src="assets/images/featured-article.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="sub-how-we-help-content sub-studt-abroad-btn">
            <h3>Providing More Opportunities to Study Abroad</h3>
            <p>The UK Is One Of The Most Popular Study Abroad Destinations For International Students. In The UK, Students Have To Access To Leading Universities, Cutting-Edge Programs, And Some Of The Top Educators In The World.</p>
            <a href="javascript:;">See All UK Universities on ApplyBoard</a>
          </div>
        </div>                 
      </div>

    </div>
  </div>
</section>
<!-- Providing More Opportunities to Study Abroad End -->

<!-- Access ApplyBoard’s Exclusive Study in the UK Guide -->
<section class="sub-new-awolc-bg">
  <div class="container">
    <div class="row">

      <div class="sub-how-we-help-main sub-advisory-pt-pb">
        <div class="col-lg-6">
          <div class="sub-how-we-help-content">
            <h3>Access ApplyBoard’s Exclusive Study in the UK Guide</h3>
            <p>Check Out Our Study In The UK Guide To Get A Complete Overview Of The United Kingdom As A Preferred Destination For Higher Education.</p>
            <p class="pt-0">Know More About Topics Like The Education System In The UK, Immigration And Visa Processes, Working And Staying After Graduation, Etc.</p>
            <a href="javascript:;">Learn More</a>
          </div>
        </div>                 
        <div class="col-lg-6">
          <div class="sub-best-img-programs">
            <img src="assets/images/access-applyBoard.png" alt="" />
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Access ApplyBoard’s Exclusive Study in the UK Guide End -->

<!-- University Spotlights -->
<section class="sub-how-we-help-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="sub-uniwolc-title sub-blog-pt-pb">
          <h2>University Spotlights</h2>
          <p>Take A Look At Some Of The Top Universities Available On The Applyboard Platform For International Students Interested In Studying In The United Kingdom.</p>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/01-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/02-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/03-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/04-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/05-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/06-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/07-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/08-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/09-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/010-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/011-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="sub-university-spotlights-box">
          <div class="sub-university-img-spotl">
            <img src="assets/images/university-spotlights/012-university-spotlights.png" alt="" />
          </div>
          <a href="javascript:;">Download Fact Sheet</a><br />
          <a href="javascript:;">View Programs</a>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- University Spotlights End -->

<!-- UK Faculty Showcase Webinar -->
<section class="sub-new-awolc-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="sub-two-uk-box">
          <img src="assets/images/faculty-showcase-webinar.png" alt="" />
          <h5>UK Faculty Showcase Webinar</h5>
          <p>Listen To Conversations With Top Faculties Sharing Insights On How Studying In The UK Can Help Students Thrive In Their Future Careers.</p>
          <div class="sub-two-uk-btn">
            <a href="javascript:;">Day 1 Webinar</a>
            <a href="javascript:;">Day 2 Webinar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="sub-two-uk-box">
          <img src="assets/images/success-toolkit.png" alt="" />
          <h5>UK Success Toolkit</h5>
          <p>Maximize The Efficiency Of Your Application Process To The UK With The Downloadable And Printable Information Sheets That Cover The Three Key Stages Of Your Application.</p>
          <div class="sub-two-uk-btn">
            <a href="javascript:;">UK Success Tool Kit</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- UK Faculty Showcase Webinar End -->

<!-- In Conversation with Partner Institutions -->
<section class="sub-how-we-help-bg">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="sub-uniwolc-title sub-blog-pt-pb">
          <h2>In Conversation with Partner Institutions</h2>
          <p>Learn More About Top Programs, Application Process, Scholarships, And More.</p>
        </div>
      </div>

      <div class="col-6 col-lg-6">
        <div class="sub-making-edu-content sub-two-uk-video-mb">
          <a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><img src="assets/images/01-partner-institutions.png" alt="" /></a>
        </div>
      </div>
      <div class="col-6 col-lg-6">
        <div class="sub-making-edu-content sub-two-uk-video-mb">
          <a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><img src="assets/images/02-partner-institutions.png" alt="" /></a>
        </div>
      </div>
      <div class="col-6 col-lg-6">
        <div class="sub-making-edu-content sub-two-uk-video-mb">
          <a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><img src="assets/images/03-partner-institutions.png" alt="" /></a>
        </div>
      </div>
      <div class="col-6 col-lg-6">
        <div class="sub-making-edu-content sub-two-uk-video-mb">
          <a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><img src="assets/images/04-partner-institutions.png" alt="" /></a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- In Conversation with Partner Institutions End -->

<!-- Footer -->
<footer class="default-overlay">
  <div class="container">
    <div class="row">

      <div class="col-6 col-lg-2">
        <div class="sub-footer-logo">
          <a href="javascript:;"><img src="assets/images/footer-logo.png" alt="" /></a>
          <div class="footer-address-text">
            <p>101 Frederick St,<br /> Kitchener,<br /> ON N2H 6R3</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list-bold">
          <ul>
            <li><a href="javascript:;">Students</a></li>
            <li><a href="javascript:;">Schools</a></li>
            <li><a href="javascript:;">Recruiters</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>About</h6>
          <ul>
            <li><a href="javascript:;">Our Story</a></li>
            <li><a href="javascript:;">Careers</a></li>
            <li><a href="javascript:;">Blog</a></li>
            <li><a href="javascript:;">Press</a></li>
            <li><a href="javascript:;">Life</a></li>
            <li><a href="javascript:;">Leadership</a></li>
            <li><a href="javascript:;">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Discover</h6>
          <ul>
            <li><a href="javascript:;">Discover Programs</a></li>
            <li><a href="javascript:;">Discover Schools</a></li>
            <li><a href="javascript:;">Register</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Resources</h6>
          <ul>
            <li><a href="javascript:;">Our Solutions</a></li>
            <li><a href="javascript:;">UK Resources</a></li>
            <li><a href="javascript:;">AU Resources</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="sub-footer-list">
          <h6>Legal</h6>
          <ul>
            <li><a href="javascript:;">Privacy & Cookies Policy</a></li>
            <li><a href="javascript:;">Terms & Conditions</a></li>
            <li><a href="javascript:;">ApplyBoard Fees</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- Footer -->

<!-- Footer CopyRight -->
<section class="footer-copyright">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="footer-copyright-text">
          <p>&copy; 2022 UINWOLC Inc. All rights reserved.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-copyright-app">
          <a href="https://www.qafieconsultancy.com/" target="_blank">Design & Development by: Qafie Consultancy</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Footer CopyRight End -->

<!-- Play Video -->
<div class="modal-popup-vd">
  <div class="modal fade VideoPopup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Study Abroad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe width="100%" src="https://www.youtube.com/embed/hRTi1Elkz3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Play Video End -->

<!-- JavaScript -->
  <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/our-partners.js"></script>
  <!-- Header Menu -->
  <script>
    $(document).ready(function() {
    // executes when HTML-Document is loaded and DOM is ready
    
    // breakpoint and up  
    $(window).resize(function(){
      if ($(window).width() >= 980){  

          // when you hover a toggle show its dropdown menu
          $(".navbar .dropdown-toggle").hover(function () {
             $(this).parent().toggleClass("show");
             $(this).parent().find(".dropdown-menu").toggleClass("show"); 
           });

            // hide the menu when the mouse leaves the dropdown
          $( ".navbar .dropdown-menu" ).mouseleave(function() {
            $(this).removeClass("show");  
          });
      
        // do something here
      } 
    });
  });
  </script>
  <!-- Header Menu End -->

  <!-- New on Awolc Tab -->
  <script>
    $('.nav-tabs-dropdown')
        .on("click", "li:not('.active') a", function(event) {$(this).closest('ul').removeClass("open");
        })
        .on("click", "li.active a", function(event) {$(this).closest('ul').toggleClass("open");
        });
  </script>
  <!-- New on Awolc Tab End -->

  <!-- dropdown menu btn -->
  <script>
    $('.dropdown-toggle').dropdown()
  </script>
  <!-- dropdown menu btn end -->

  <!-- Modal Video -->
  <script language="JavaScript">
    $(".VideoPopup").on('hidden.bs.modal', function (e) {
         $(".VideoPopup iframe").attr("src",   $(".VideoPopup iframe").attr("src"));
    });
  </script>
  <!-- Modal Video End -->

<!-- JavaScript End -->

</body>
</html>